<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<div>
		<h1>EKARTEYEAT</h1>
	</div>
	<div>
		{% if messages%}
	    	{% for message in  messages %}
	    	   <div >{{message}}</div>
	    	{% endfor%}
	    {% endif %}
	</div>
	<div>
		<img src="media/opening.jpg">
	</div>
	<div>
		<h2>Select your city</h2>
	</div>
	<div>
		{% for city in cities %}
		<a href="{% url 'city-detail' pk=city.id%}"> <img src="{{city.image.url}}"></a>
		{% endfor %}
	</div>
	<div>
		<h2>Gallery</h2>
		{% for  pic in pics %}
		<img src="{{pic.image.url}}">
		{% endfor %}
	</div>
	<div>
		<h2>Contact us</h2>
		{% for  profile in profiles %}
		<img src="{{profile.image.url}}">
		<h3> Name - {{profile.name}} </h3>
		<h3> Phone no - {{profile.phone_no}} </h3>
		<h3> Description - {{profile.description}} </h3>
		{% endfor %}
	</div>
</body>
</html>